:root {
    --primary-color: #324001;
    --secondary-color: #6B67B8;
    --accent-color-green: #8EA24D;
    --accent-color-purple: #978FC0;
    --accent-color-cotton: #E4E6F2;
    --accent-color-sage: #BCBFA4;
}